@import url(http://fonts.googleapis.com/css?family=Neucha:400,700|Open+Sans:300,400);
body {
  font-family: Open Sans;
  font-weight: 300;
}

#content {
  margin-top: 60px;
}

.button {
  margin: auto;
  cursor: pointer;
  padding: 4px 7px 5px 7px;
  background: #fff;
  border: 2px solid #444444;
  border-radius: 2px;
  width: intrinsic;
  transition: background 0.5s ease;
}
.button p {
  color: #444444;
  transition: color 0.5s ease;
  margin: 3px 0 3px 0;
}

.button:hover {
  background: #444444;
}
.button:hover p {
  color: #fff;
}

.form-control, .form-control-time {
  height: 40px;
  border: 2px solid #444444;
  border-radius: 2px;
  background: #fefefe;
  text-align: left;
  text-indent: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0 1px 0 1px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .15 linear, color .15 linear, background-color .15 linear;
  transition: border .15 linear, color .15 linear, background-color .15 linear;
}
.form-control.error, .form-control-time.error {
  border: 2px solid #eb012d;
}

.form-control:focus, .form-control-time:focus {
  border-color: #000;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

#navigation {
  width: 100%;
  position: fixed;
  top: 0;
}
#navigation #sign-out {
  float: right;
  margin: 20px;
  opacity: 0;
}

form {
  margin: auto;
  text-align: center;
}

.form-wrapper {
  width: intrinsic;
  overflow: hidden;
  margin: auto;
  text-align: center;
}
.form-wrapper #login-form, .form-wrapper #signup-form {
  overflow: hidden;
  width: intrinsic;
}
.form-wrapper #login-form .input-row, .form-wrapper #signup-form .input-row {
  float: left;
  margin-top: 6px;
}
.form-wrapper #login-form .input-row.clear-right, .form-wrapper #signup-form .input-row.clear-right {
  clear: left;
}
.form-wrapper #login-form .input-row .inputs, .form-wrapper #signup-form .input-row .inputs {
  float: left;
}
.form-wrapper #login-form .input-row #id-card, .form-wrapper #signup-form .input-row #id-card {
  width: 366px;
}
.form-wrapper #login-form #login-button, .form-wrapper #signup-form #login-button {
  float: left;
  margin: 6px 0 0 5px;
  height: 42px;
  padding: 0;
}
.form-wrapper #login-form #login-button p, .form-wrapper #signup-form #login-button p {
  line-height: 42px;
  margin: 0 10px 0 10px;
}
.form-wrapper #login-form #signup-button, .form-wrapper #signup-form #signup-button {
  float: right;
  clear: left;
  margin: 6px 0 0 5px;
  height: 42px;
  padding: 0;
}
.form-wrapper #login-form #signup-button p, .form-wrapper #signup-form #signup-button p {
  line-height: 42px;
  margin: 0 10px 0 10px;
}
.form-wrapper #title {
  margin: 0;
  font-size: 64px;
  font-family: Neucha;
  font-weight: 400;
}
.form-wrapper #subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 5px;
}

#sign-up-button, #login-from-signup-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.message-top {
  position: fixed;
  height: 40px;
  top: 100px;
  padding: 0;
  width: 100%;
}

.message-bot {
  position: fixed;
  height: 40px;
  bottom: 40px;
  padding: 0;
  width: 100%;
}

.message {
  margin: auto;
  width: intrinsic;
  border-radius: 2px;
}
.message p {
  margin: 0 20px 0 20px;
  line-height: 40px;
}

.error-message {
  background: #fff;
  border: 2px solid #eb012d;
}
.error-message p {
  color: #eb012d;
}

.success-message {
  background: #fff;
  border: 2px solid #43db47;
}
.success-message p {
  color: #43db47;
}

#navigation-view {
  display: none;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
}

#navigation-wrapper {
  width: intrinsic;
  height: 60px;
  margin: auto;
}
#navigation-wrapper .nav-item {
  opacity: 0;
  background: #fff;
  display: inline-block;
  border: 2px solid #333333;
  height: 30px;
  padding: 0 15px 0 15px;
  border-radius: 2px;
  margin: 0 10px 0 10px;
  margin-top: 15px;
  transition: background 0.5s ease;
  cursor: pointer;
}
#navigation-wrapper .nav-item p {
  margin: 0;
  line-height: 30px;
  transition: color 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#navigation-wrapper .nav-item:hover, #navigation-wrapper .nav-item.selected {
  background: #333333;
}
#navigation-wrapper .nav-item:hover p, #navigation-wrapper .nav-item.selected p {
  color: #fff;
}

.current-user {
  float: right;
  opacity: 0;
  margin-right: 20px;
}

#dashboard {
  width: 100%;
  margin: auto;
  margin-top: 100px;
}
#dashboard #dash-title {
  width: 60%;
  font-family: Neucha;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}
#dashboard #event-create {
  width: 60%;
  margin: auto;
  margin-top: 150px;
}
#dashboard #event-create #create-button .button {
  width: 300px;
  text-align: center;
}
#dashboard #event-create .input-cell {
  display: inline-block;
  opacity: 0;
}
#dashboard #event-create textarea {
  padding-top: 10px;
}
#dashboard #event-create .buttons {
  float: right;
  width: intrinsic;
  float: right;
  margin-top: 20px;
  opacity: 0;
}
#dashboard #event-create .buttons .button {
  display: inline-block;
  margin-left: 10px;
}

.events-view {
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  width: 60%;
}
.events-view .event-list-title {
  font-family: Neucha;
  font-size: 28px;
  opacity: 0;
}
.events-view .separator {
  width: 0%;
  opacity: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #444444;
}
.events-view .event {
  width: 100%;
  opacity: 0;
  margin-bottom: 30px;
  overflow: hidden;
}
.events-view .event .left-info {
  width: 30%;
  float: left;
}
.events-view .event .left-info p {
  line-height: 24px;
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}
.events-view .event .left-info .event-buttons {
  float: left;
  margin-top: 26px;
}
.events-view .event .left-info .event-buttons .button {
  float: left;
  margin-right: 10px;
  padding: 0 5px 0 5px;
  height: 20px;
}
.events-view .event .left-info .event-buttons .button p {
  font-size: 14px;
  line-height: 20px;
}
.events-view .event .right-info {
  float: left;
  width: 70%;
}
.events-view .event .right-info .info {
  display: inline-block;
}
.events-view .event .right-info .info p {
  font-size: 16px;
}
.events-view .event .right-info .info p span {
  font-size: 22px;
  font-weight: 400;
  marign: 0;
}
.events-view .event .right-info .info.description {
  width: 100%;
}
.events-view .event .right-info .info.description p {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 18px;
}
.events-view .event .right-info .info.capacity {
  margin-left: 20px;
}

.event-expanded-info {
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  width: 50%;
}
.event-expanded-info .top-info {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.event-expanded-info .top-info .title {
  width: 100%;
  text-align: center;
}
.event-expanded-info .top-info .title h3 {
  margin-right: 10px;
  display: inline-block;
}
.event-expanded-info .top-info .title h3 span {
  font-size: 18px;
  font-weight: 300;
}
.event-expanded-info .top-info .description {
  width: 100%;
  text-align: center;
}
.event-expanded-info .top-info .description p {
  margin-bottom: 0;
  font-size: 18px;
}
.event-expanded-info .bot-info {
  width: 100%;
  margin: auto;
}
.event-expanded-info .bot-info .info {
  text-align: center;
}
.event-expanded-info .bot-info .info p {
  font-size: 18px;
}
.event-expanded-info #join {
  margin-top: 20px;
}

.attendee-list {
  margin: auto;
  margin-top: 50px;
  width: 50%;
}
.attendee-list #attendees-title {
  width: 100%;
  margin: auto;
  text-align: left;
  float: left;
}
.attendee-list #attendees-container {
  width: 100%;
  margin: auto;
}
.attendee-list #attendees-container .attendee {
  width: 100%;
  overflow: hidden;
}
.attendee-list #attendees-container .attendee .attendee-info {
  float: left;
}
.attendee-list #attendees-container .attendee .check-in {
  float: right;
}
.attendee-list #attendees-container .attendee .checked-in {
  float: right;
}
.attendee-list #attendees-container .attendee.checked-in p {
  color: green;
}
