@import url(http://fonts.googleapis.com/css?family=Neucha:400,700|Open+Sans:300,400);

$sq-gray-dk: #333;
$sq-gray-li: #444;
$sq-err: #eb012d;
$sq-suc: #43db47;

$sq-border-dk: 2px solid $sq-gray-dk;
$sq-border-li: 2px solid $sq-gray-li;
$sq-border-err: 2px solid $sq-err;
$sq-border-suc: 2px solid $sq-suc;

$nav-height: 60px;

body {
    font-family: Open Sans;
    font-weight: 300;
}

#content {
    margin-top: $nav-height;
}

.button {
    margin: auto;
    cursor: pointer;
    padding: 4px 7px 5px 7px;
    background: #fff;
    border: $sq-border-li;
    border-radius: 2px;
    width: intrinsic;
    transition: background 0.5s ease;

    p {
        color: $sq-gray-li;
        transition: color 0.5s ease;
        margin: 3px 0 3px 0;
    }
}

.button:hover {
    background: $sq-gray-li;
    p {
        color: #fff;
    }
}

.form-control, .form-control-time {
    height: 40px;
    border: $sq-border-li;
    border-radius: 2px;
    background: darken(#fff, 0.3%);
    text-align: left;
    text-indent: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0 1px 0 1px;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .15 linear, color .15 linear, background-color .15 linear;
    transition: border .15 linear, color .15 linear, background-color .15 linear;
    &.error {
        border: $sq-border-err;
    }
}
.form-control:focus, .form-control-time:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
}

#navigation {
    width: 100%;
    position: fixed;
    top: 0;
    #sign-out {
        float: right;
        margin: 20px;
        opacity: 0;
    }
}

form {
    margin: auto;
    text-align: center;
}

@import "home";
@import "normalize";
@import "notification";
@import "navigation";
@import "dashboard";
@import "events"