#dashboard {
    width: 100%;
    margin: auto;   
    margin-top: 100px;

    #dash-title {
        width: 60%;
        font-family: Neucha;
        font-weight: 400;
        font-size: 48px;
        text-align: center; 
    }

    #event-create {
        width: 60%;
        margin: auto;
        margin-top: 150px;
        #create-button {
            .button {
                width: 300px;
                text-align: center;
            }
        }
        .input-cell {
            display: inline-block;
            opacity: 0;
        }
        textarea {
            padding-top: 10px;
        }
        .buttons {
            float: right;
            width: intrinsic;
            float: right;
            margin-top: 20px;
            opacity: 0;
            .button {
                display: inline-block;
                margin-left: 10px;

            }
        }
    }
}