.events-view {
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    width: 60%;
    .event-list-title {
        font-family: Neucha;
        font-size: 28px;
        opacity: 0;
    }
    .separator {
        width: 0%;
        opacity: 0;
        margin-bottom: 30px;
        border-bottom: 2px solid $sq-gray-li;
    }
    .event {
        width: 100%;
        opacity: 0;
        margin-bottom: 30px;
        overflow: hidden;
        .left-info {
            width: 30%;
            float: left;
            p {
                line-height: 24px;
                font-size: 24px;
                margin: 0;
                font-weight: 400;
            }
            .event-buttons {
                float: left;
                margin-top: 26px;
                .button {
                    float: left;
                    margin-right: 10px;
                    padding: 0 5px 0 5px;
                    height: 20px;
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
        .right-info {
            float: left;
            width: 70%;
            .info {

                display: inline-block;
                p {
                    font-size: 16px;
                }
                p span {
                    font-size: 22px;
                    font-weight: 400;
                    marign: 0;
                }
                &.description {
                    width: 100%;
                    p {
                        margin-top: 3px;
                        margin-bottom: 0;
                        font-size: 18px;

                    }
                }
                &.capacity {
                    margin-left: 20px;
                }
            }
        }
    }
}

.event-expanded-info {
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    width: 50%;
    .top-info {
        width: 100%;
        margin: auto;
        overflow: hidden;
        .title {
            width: 100%;
            text-align: center;
            h3 {
                margin-right: 10px;
                display: inline-block;
                span {
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }
       
        .description {
            width: 100%;
            text-align: center;

            p {
                margin-bottom: 0;
                font-size: 18px;
            }
        }
    }

    .bot-info {
        width: 100%;
        margin: auto;
        .info {
            text-align: center;
            p {

                font-size: 18px;
            }
        }
    }
    #join {
        margin-top: 20px;
    }
}


.attendee-list {
    margin: auto;
    margin-top: 50px;
    width: 50%;

    #attendees-title {
        width: 100%;
        margin: auto;
        text-align: left;
        float: left;
    }
    #attendees-container {
        width: 100%;
        margin: auto;
        .attendee {
            width: 100%;
            overflow: hidden;
            .attendee-info {
                float: left;
            }
            .check-in {
                float: right;
            }
            .checked-in {
                float: right;
            }
            &.checked-in {
                p {
                    color: green;
                }
            }
        }
    }
}