.form-wrapper {
    width: intrinsic;
    overflow: hidden;
    margin: auto;
    text-align: center;
    #login-form, #signup-form {
        overflow: hidden;
        width: intrinsic;
        .input-row {
            float: left;
            margin-top: 6px;
            &.clear-right {clear: left;}
            .inputs {
                float: left;
            }
            #id-card {
                width: 366px;
            } 
        }
        #login-button {
            float: left;

            margin: 6px 0 0 5px;
            height: 42px;
            padding: 0;
            p {
                line-height: 42px;
                margin: 0 10px 0 10px;
            }
        }
        #signup-button {
            float: right;
            clear: left;
            margin: 6px 0 0 5px;
            height: 42px;
            padding: 0;
            p {
                line-height: 42px;
                margin: 0 10px 0 10px;
            }
        }
    }

    #title {
        margin: 0;
        font-size: 64px;
        font-family: Neucha;
        font-weight: 400;
    }
    #subtitle {
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 5px;
    }
}
#sign-up-button, #login-from-signup-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
} 
