#navigation-view {
    display: none;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;

}
#navigation-wrapper {
    
    width: intrinsic;
    height: $nav-height;
    margin: auto;
    .nav-item {
        opacity: 0;
        background: #fff;
        display: inline-block;
        border: $sq-border-dk;
        height: $nav-height / 2;
        padding: 0 15px 0 15px;
        border-radius: 2px;
        margin: 0 10px 0 10px;
        margin-top: $nav-height / 4;
        transition: background 0.5s ease;
        cursor: pointer;
        p {
            margin: 0;
            line-height: $nav-height / 2;
            transition: color 0.5s ease;
            -webkit-user-select: none;     
            -moz-user-select: none;
            -ms-user-select: none;
        }
        &:hover, &.selected {
            background: $sq-gray-dk;
            p {
                color: #fff;
            }
        }
    }
}
.current-user {
    float: right;
    opacity: 0;
    margin-right: 20px;
}