.message-top {
    position: fixed;
    height: 40px;
    top: $nav-height + 40px;
    padding: 0;
    width: 100%;
}

.message-bot {
    position: fixed;
    height: 40px;
    bottom: 40px;
    padding: 0;
    width: 100%;
}

.message {
    margin: auto;
    width: intrinsic;
    border-radius: 2px;
    p {
        margin: 0 20px 0 20px;
        line-height: 40px;
    }
}

.error-message {
    background: #fff;
    border: $sq-border-err;
    p {color: $sq-err;}
}

.success-message {
    background: #fff;
    border: $sq-border-suc;
    p {color: $sq-suc}
}
