<div id="create-button">
    <div class="button"><p>Create Event</p></div>
</div>

<div class="form-wrapper">  
    <form id="event-create-form">
        <div class="inputs">

            <div class="input-row">
                <div class="input-cell">
                <p>Title</p>
                <input id="event-title" type="text" class="form-control" name="title" placeholder="Squirrel Party!">
                </div>
            </div>
            <div class="input-row">
                <!-- time --> 
                <div class="input-cell">
                <p>When is it?</p>
                <input id="time" class="form-control" type="datetime-local" name="time" placeholder="time">
                </div>
                
            </div>
            <div class="input-row">
                <!-- description -->
                <div class="input-cell">
                <p>Description</p>
                <textarea id="description" class="form-control" name="description" placeholder="Party for all my single squirrels" rows="4" cols="44"/>
                </div>
            </div>

            <div class="input-row">
                <!-- #tix -->
                <div class="input-cell">
                <p>How many squirrels?</p>
                <input id="max-tickets" class="form-control" type="number" name="max-tickets" placeholder="Number of Places">
                </div>
                <!-- location -->
                <div class="input-cell">
                <p>Where is it?</p>
                <input id="location" class="form-control" type="text" name="location" placeholder="Location">
                </div>
            </div>

        </div>        
        <div class="buttons">
            <div class="button" id="cancel-button"><p>Cancel</p></div>
            <div class="button" id="submit-button"><p>Ship it</p></div>
        </div>
        <input type="submit" style="display:none"/>
    </form>
</div>