<div class="form-wrapper">
    <h1 id="title">Squirrel</h1>
    <p id="subtitle">Event Management for the Wise</p>
    <form id="login-form" class="form">
        <div class="inputs">
            <div class="input-row">
                <input id="email" class="form-control" type="text" name="email" placeholder="email">
                <input id="password" class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="button" id="login-button">
                <p>login</p>
            </div>
            <input type="submit" style="display:none">
        </div>
    </form>
</div>

<div class="button" id="sign-up-button">
    <p>sign up</p>
</div>