<div class="form-wrapper">
    <h1 id="title">Become Squirrel</h1>
    <p id="subtitle">Because everybody is a little bit nuts</p>
    <form id="signup-form" class="form">
        <div class="inputs">
            <div class="input-row">
                <input id="first-name" class="form-control" type="text" name="first-name" placeholder="first name">
                <input id="last-name" class="form-control" type="text" name="last-name" placeholder="last name">
            </div>
            <div class="input-row clear-right">
                <input id="email" class="form-control" type="text" name="email" placeholder="email">
                <input id="password" class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="input-row clear-right">
                <input id="id-card" class="form-control" type="text" name="id-card" placeholder="id card">
            </div>
            <div class="button" id="signup-button">
                <p>sign up</p>
            </div>
            <input type="submit" style="display:none">
        </div>
    </form>
</div>

<div class="button" id="login-from-signup-button">
    <p>login</p>
</div>