<p class="current-user"></p>
<div id="navigation-wrapper">
    <div class="nav-item selected" data-action="dashboard">
        <p>Dashboard</p>
    </div>
    <div class="nav-item" data-action="events">
        <p>Events</p>
    </div>
    <div class="nav-item" data-action="logout">
        <p>Logout</p>
    </div>
    
</div>
